[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[project]
name = "tasks4"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "openai",
]

[project.scripts]
tasks4 = "tasks4:main"